name: Run unit tests

on:
  push:
    branches: [ main ]
    paths:
      - "**/*.py"
      - ".github/workflows/unit-tests.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  nbconvert:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: pytest
        run: uv run pytest
